.header {
    width: 100%;
    height: 10%;
    font-size: small;
    background-color: white;
    display: flex;
    margin: 3%;
    margin-left: 3%;
    font-family: 'Arial';
    margin-bottom: 0px;
}

.linea{ 
  height: 1px; 
  width: 100%;
  margin: 0;
  border: none;
  background-color: rgb(178, 175, 175); 
}

body{
    font-family: 'Arial';
}
.header column{
    display: flex;
    justify-content: right;
    margin-right: 3%;
    
}
.section{
    display: block ;
    margin-left: 80px;
    margin-top: 60px;
}

/* .b-register__google{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #4285F4;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 1px solid #4285F4;
    border-radius: 6px;
    width: 100%;
    height: 70px;
    max-width: 1000px;
    padding-right: 91px;
}

.b-register__google img{
    width: 60px;
} */

.signin{
    margin-top: 20px;
}

.signin__logo{
    display: flex;
}

.signin__logo--google{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5086ED;
    border-radius: 3px;
    width: 160px;
    background-color: #5086ED;
    margin-right: 10px;

}

.signin__logo--google a{
    text-decoration: none;
    color: white;
}

.signin__logo--face{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #4968AD;
    border-radius: 3px;
    width: 200px;
    background-color: white;
}

.signin__logo--face a{
    text-decoration: none;
    color: #4968AD;  
}

.email{
    margin-bottom: 20px;
}
.form-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-input {
    display: block;
    margin-bottom: 20px;
}
.checkbox {
    display: block;
}
.account{
    margin-top: 20px;
}
.footer {
    display: flex;
    text-align: center;
    margin-top: 10px;
}
.footer-left{
    flex: 1;

}
.footer-right{
    flex: 3;
}
.footer-items{
    padding: 8px;
}